
h1{color : indigo;}
body {background-color : rgb(205, 147, 255);}
h2{color : indigo;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.container {
  border: 2px solid black;
  padding: 20px;
  background-color: rgb(215, 195, 224);
width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.instagram_link_name {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  bold: true;
}
a:hover {
  color: rgb(146, 1, 81);
}
a{
  text-decoration: none;
  color: indigo;
}
a:visited {
  color: rgb(152, 83, 173);
}
.left {
  float: left;
  width: 30%;
  padding: 30px;
  text-align: center;
}
.right {
  float: right;
  width: 30%;
  padding: 30px;
}  
article h4 {
  text-align: center;
  color : black;
}
footer p {
  text-align: center;
  color : rgb(0, 0, 0);
  clear: both;
  visibility: hidden;
}   
footer h3 {
  text-align: center;
  color : rgb(0, 0, 0);
  clear: both;
}
img {
  display: block;
  float: right;
  margin-left: 30px;
  margin-right: 30px;
}   
.left2 {
  float: left;
  width: 30%;
  padding: 30px;
  text-align: center;
}
.right2 {
  float: right;
  clear: right;
  width: 30%;
  padding: 30px;
}